body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

$primary-color: #08415c;
$secondary-color: #15a0e0;
$tertiary-color: #fca311;
$detail-color: #a0e4e4;
$primary-darker-color: #07354b;
$light-background-color: #f7f7f7;

$github-color: #242a2e;
$linkedin-color: #0a66c2;
$twitter-color: #1fa1f1;

.nav-container,
.footer-container {
  background: $primary-darker-color;

  a {
    color: white;
  }

  .nav-link {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: $tertiary-color;
    font-weight: bold;
    font-size: 1.1em;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
      transition: box-shadow 0.4s ease-in-out 0s;

      &:hover {
        color: $tertiary-color;
        box-shadow: $primary-color 0px 2px 0px 0px,
          $primary-color 0px -0.8em 0px 0px inset;
        transition: box-shadow 0.4s ease-in-out 0s;
      }
    }
  }
}

.fa-github {
  color: black;
  font-size: 20px;
  transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;

  &:hover {
    color: $github-color;
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  }
}
.fa-linkedin-in {
  color: black;
  font-size: 20px;
  transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;

  &:hover {
    color: $linkedin-color;
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  }
}

.fa-twitter {
  color: black;
  font-size: 20px;
  transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;

  &:hover {
    color: $twitter-color;
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: $primary-color;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: $secondary-color;

  span {
    margin-top: 1.1em;
    margin-right: 0.5em;
  }
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;

  img {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out 0s,
      background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgb(0 0 0 / 3%) 0px 0px 8px 0px,
        rgb(0 0 0 / 10%) 0px 20px 30px 0px;
      transition: transform 0.2s ease-in-out 0s,
        background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    }
  }
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $detail-color;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: $tertiary-color;

  img {
    width: 100%;
    border-radius: 0.5em;
  }
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 3%);

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one,
    &.two,
    &.three {
      width: 100px;
    }
  }
  .skilss-title {
    font-weight: bold;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background: $light-background-color;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out 0s,
    background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 8px 0px,
      rgb(0 0 0 / 10%) 0px 20px 30px 0px;
    transition: transform 0.2s ease-in-out 0s,
      background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: $tertiary-color;
    font-weight: bold;
    font-size: 1.1em;
  }

  ul {
    display: block;

    a {
      display: block;
      padding: 0 1em;
      transition: box-shadow 0.4s ease-in-out 0s;

      &:hover {
        color: $tertiary-color;
        box-shadow: $primary-darker-color 0px 2px 0px 0px,
          $primary-darker-color 0px -0.8em 0px 0px inset;
        transition: box-shadow 0.4s ease-in-out 0s;
      }
    }
  }
  .left-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: white;
      opacity: 0.5;
    }

    .fa-mug-hot {
      padding-left: 0.5em;
    }
  }
}

.footer-design {
  display: none;
}

.date,
.date-mobile {
  font-size: 0.8em;
  margin: 0;
}

.copyright {
  display: none;
}

.copyright-mobile {
  background: $primary-darker-color;
  color: rgba(white, 0.5);
  margin: 0;
  padding: 0 2em 2em;

  .fa-mug-hot {
    padding-left: 0.5em;
  }
}

// RESPONSIVE ******************************************************************
@media only screen and (max-width: 320px) {
  .copyright-mobile {
    font-size: 0.7em;
    padding: 0 3em 2em;
  }
}
@media only screen and (min-width: 520px) {
  .footer ul {
    display: flex;
  }

  .nav-container .nav-link {
    display: unset;
  }
}
@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }

  .copyright {
    display: unset;
    margin-bottom: 0;
  }

  .copyright-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;

    .header {
      background: $primary-darker-color;
    }
  }

  .header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 6em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 10em;
      float: right;
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    padding: 0;

    .content {
      background: $primary-color;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    min-width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

  .footer-design {
    display: unset;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 76% auto;
    background: unset;

    .footer {
      background: $primary-color;
    }
  }
  .copyright-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1250px) {
  .header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }

  .footer {
    padding: 4em 2em 4em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  .header,
  .footer {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 10em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
